@use './header';
.d-slide{
    width: 100%;
    height: 441px;
    position: relative;
    overflow: hidden;
    background-image: url('/assets/LATAS\ SIX_9\ 1.png'),
    linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 42.2%);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x: 100%;
    display: flex;
    flex-flow: row wrap;
}
.box-arrows{
    height: 60px;
    width: 150.14px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-arrow{
    height: 100%;
    width: 74.07px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow{
    width: 25%;
    height: 30%;
    cursor: pointer;
}

@media(max-width: 849px) and (orientation: landscape){ 
    .d-slide{
        position: relative;
        background-image: url('/assets/LATAS big.png'),
        linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 42.2%);
        background-position-x: 55%;
        background-size: 130vw 100vh;
        height: 100vh;
        background-position-x: 49.5%;
    }
    .box-arrows{
        display: none;
    }
}


@media screen and (min-width: 450px) and (max-width: 1079px) and (orientation: portrait){
    .d-slide{
        position: relative;
        background-image: url('/assets/LATAS big.png'),
        linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 42.2%);
        background-position-x: 55%;
        background-size: 130vw 50vh;
        height: 50vh;
        background-position-x: 49.5%;
    }
    .box-arrows{
        display: none;
    }
}

@media screen and (min-width: 850px) and (max-width: 1079px) and (orientation: landscape){
    .d-slide{
        position: relative;
        background-image: url('/assets/LATAS big.png'),
        linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 42.2%);
        background-position-x: 55%;
        background-size: 130vw 90vh;
        height: 75vh;
        background-position-x: 49.5%;
    }
    .box-arrows{
        display: none;
    }
}

@media(min-width:1080px){
    .d-slide{
        position: relative;
        background-image: url('/assets/LATAS big.png'),
        linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 42.2%);
        background-position-x: 55%;
        background-size: 130vw 138vh;
        height: 683px;
        background-position-x: 49.5%;
    }
    .box-arrows{
        display: none;
    }
}