nav{
    display: none;
    height: 81px;
    width: 100%;
}
nav button{

    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    background-color: #191919;
}
nav button:focus{
    color: white;
    cursor: pointer;
    border: 3px solid  #968777;
    border-top: none;
    border-left: none;
    border-right: none;
}

@media(max-width: 849px) and (orientation: landscape){ 
    nav{
        display: flex;
    }
}

@media(min-width:1080px){
    nav{
        display: flex;
    }
}