@import '/styles/slider-picture.css';

.us{
    height: 868px;
    width: 100%;
    background-color: #6B5746;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;

}
.us-box_tex-title{
    height: 165px;
    width: 372px;
}
.us-text_title{
    font-family:'Noto Serif', serif;
    font-size: 24px;
    line-height: 32.69px;
}